#eco-extension-icon {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 9999;

background: #000843;
padding: 10px;
border-radius: 50%;
cursor: pointer;

box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
transition: all 0.2s ease-in-out;
}

#eco-extension-icon img {
width: 24px;
height: 24px;
display: block;
}

#eco-extension-icon.variant-active {
background: #0056b3;
box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}
